/**
 * Default theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */

// This file has been copied over from
// ../../bower_components/reveal.js/css/theme/source/default.scss

// Default mixins and settings -----------------
@import "../../bower_components/reveal.js/css/theme/template/mixins";
@import "../../bower_components/reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Include theme-specific fonts ----------------
@font-face {
        font-family: 'League Gothic';
        src: url('../../bower_components/reveal.js/lib/font/league_gothic-webfont.eot');
        src: url('../../bower_components/reveal.js/lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
                 url('../../bower_components/reveal.js/lib/font/league_gothic-webfont.woff') format('woff'),
                 url('../../bower_components/reveal.js/lib/font/league_gothic-webfont.ttf') format('truetype'),
                 url('../../bower_components/reveal.js/lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

        font-weight: normal;
        font-style: normal;
}

//@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto);
// ---------------------------------------------

// Override theme settings ---------------------
//$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);
// Other options include e.g.
$mainFont: 'Roboto', sans-serif;
// $linkColor: #ed1dff;
// $linkColorHover: $linkColor;
$headingFont: 'Roboto', sans-serif;
$headingTextShadow: none;
$heading1TextShadow: none;
// $headingLetterSpacing: -0.03em;
// $headingTextTransform: none;
// $selectionBackgroundColor: #e0ad52;
$mainFontSize: 30px;
$backgroundColor: #FF8400;
// See ../../bower_components/reveal.js/css/theme/template/settings.scss for the full list.
// ---------------------------------------------

// Background generator ------------------------
@mixin bodyBackground() {
        //@include radial-gradient( rgba(28,30,32,1), rgba(85,90,95,1) );
}
// ---------------------------------------------

// Theme template ------------------------------
@import "../../bower_components/reveal.js/css/theme/template/theme";
// ---------------------------------------------

// See ../../bower_components/reveal.js/css/theme/README.md
// for further explanations on how reveal.js themes work.

.band {
    h2 {
        padding: 2%;
        float: right;
        width: 45%;
        background-color: #000;
        opacity: 0.8;
        color: #fff;

        &:first-child {
            float: left;
        }
    }
}

.light {
    h1, h2, h3, h4, h5, p, li {
        color: #FF8400;
    }

    .band {
        h2 {
            color: #fff;
        }
    }
}